
    
      
      .container {
        width: 100%; /* Set the container width as needed */
      
        background-color: aquamarine;
        height: 100px;
        width: 400px;
        display: grid;
        
        position: relative;
      }
      
      .item {
    position: relative;

        background-color: #972a6d; /* Set a background color for the item (tomato) */
color: wheat;
      padding: 10px;
      margin: 10px;
    justify-content: center;
      }
      