
body{

  display: flex;
  justify-content: center;

}
.Container{
  display: -moz-grid-group;
  overflow-y: scroll;

  width: auto;
 height: 300px;

}
.item{
  margin: 5px;
display: flex;
justify-content: space-evenly;
width: auto;
border: 1px solid black;
height: 20%;
margin: 0px 0px 10px 0px;
}